.header {
  display: flex;
  height: 50px;
  align-items: center;
  background: black;
  justify-content: center;

  &__item {
    margin: 0 20px 0 20px;
    color: white;
    background: grey;
    border-radius: 10px;
    width: 70px;
    height: 20px;
    border: none;
    cursor: pointer;
  }
}
